/*  color theme
    light: ffeab8
    navy: 020e54
    green: a6deae
    orange: ff700a  */

body {
    background-color: #a6deae;
    color: #020e54;
}

nav {
    background-color: #ffeab8;
    padding: 10px;
    margin-bottom: 30px;
}
nav a {
    color: #020e54;
}
nav a:hover {
    background-color: #ff700a;
}

h1 {
    color: #ff700a;
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

a {
    color: #020e54;
}
a:hover {
    color: #ECC686;
}
a:visited {
    color: #74AC96;
}

.header-image {
    float: left;
    margin-right: 10px;
    max-width: 100%;
}

.quote {
    float: right;
}

.clear {
    clear: both;
}

#skip-button {
    position: absolute;
    left: -999px;
    background-color: white;
    border: 1px solid black;
}
#skip-button:focus {
    position: absolute;
    left: 10px;
}

/* skills page */
.evenrow {
    background-color: white;
}

/* contact page */
input, #message {
    margin: 10px 0px;
}

.contact-firstrow {
    padding: 50px;
    background-color: #ffeab8;
    border-radius: 20px;
    margin: 0px 20px;
}
.address {
    float: left;
    margin: 0px 55px;
}

.contact-secondrow {
    display: flex;
    padding: 50px;
    background-color: #ffeab8;
    border-radius: 20px;
    margin: 30px 20px;
    flex-wrap: wrap;
}

.map {
    margin-right: 100px;
    width: 600px;
    height: 400px;
}

.radio {
    margin-left: 10px;
}

@media only screen and (max-width: 768px) {
    nav a {
        display: block;
        width: 100%;
        margin: 5px 0px 10px 10px;
    }

    nav span {
        display: none;
    }
}